@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
* {
  font-family: "Pretendard";
}
.inner {
  width: 80%;
  max-width: 1320px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .inner {
    max-width: 600px;
  }
}
@media screen and (max-width: 390px) {
  .inner {
    max-width: 280px;
  }
}